absl-py==0.12.0
aioredis==1.3.1
amqp==5.0.2
appdirs==1.4.4
arrow==1.1.1
asgiref==3.4.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
binaryornot==0.4.4
blis==0.7.4
botocore==1.12.96
bs4==0.0.1
cachetools==4.2.1
catalogue==2.0.4
celery==5.0.2
certifi==2018.10.15
cffi==1.14.5
channels==3.0.4
channels-redis==3.3.0
chardet==3.0.4
ci-info==0.2.0
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
cmake==3.21.1
colorama==0.4.4
configobj==5.0.6
configparser==5.0.2
constantly==15.1.0
cookiecutter==1.7.3
cookiejar==0.0.3
coreapi==2.3.3
coreschema==0.0.4
crayons==0.4.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
daphne==3.0.2
decorator==4.4.2
defusedxml==0.7.0rc1
diff-match-patch==20200713
distlib==0.3.1
Django==3.2.5
django-allauth==0.44.0
django-autoslug==1.9.8
django-celery-beat==2.1.0
django-celery-results==2.0.0
django-cors-headers==3.5.0
django-crispy-forms==1.12.0
django-csvimport==2.16
django-disqus==0.5
django-extensions==3.0.9
django-googlesearch==0.2
django-import-export==2.5.0
django-phonenumber-field==5.0.0
django-stdimage==5.3.0
django-templated-mail==1.1.1
django-timezone-field==4.1.1
django-utils-six==2.0
Django-Verify-Email==0.0.5
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.6.0
djongo==1.3.4
djoser==2.1.0
dlib==19.22.0
dnspython==2.1.0
docutils==0.14
docx==0.2.4
docx2txt==0.8
download==0.3.5
easyocr==1.3.2
en==0.0.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
esdk-obs-python==3.21.4
et-xmlfile==1.1.0
etelemetry==0.2.2
eth-hash==0.3.1
eth-typing==2.2.2
face-recognition==1.3.0
face-recognition-models==0.3.0
fake-useragent==0.1.11
filelock==3.0.12
fitz==0.0.1.dev2
Flask==2.0.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gevent==21.1.2
google==3.0.0
google-api-core==1.22.1
google-auth==1.19.2
google-auth-oauthlib==0.4.4
google-cloud-core==1.4.1
google-crc32c==0.1.0
google-pasta==0.2.0
google-resumable-media==0.7.1
googleapis-common-protos==1.52.0
greenlet==1.1.0
grpcio==1.34.1
h2==3.2.0
h5py==3.1.0
harvester==0.4.4
hiredis==2.0.0
hpack==3.0.0
html5lib==1.1
httplib2==0.19.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.7
imageio==2.9.0
imageio-ffmpeg==0.4.4
importlib-metadata==1.7.0
incremental==21.3.0
ipython==7.24.1
ipython-genutils==0.2.0
isodate==0.6.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==2.0.1
itypes==1.2.0
jedi==0.18.0
jellyfish==0.8.2
Jinja2==3.0.1
jinja2-time==0.2.0
jmespath==0.9.3
joblib==1.0.1
jsonfield==3.1.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyboard==0.13.5
keywords==0.0.1
kiwisolver==1.3.1
kombu==5.0.2
ldap3==2.9
ldapdomaindump==0.9.3
linkedin-api==1.1.0
linkedin-jobs-scraper==1.8.4
lxml==4.6.3
Markdown==3.3.4
MarkupPy==1.14
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mock==4.0.3
MouseInfo==0.1.3
moviepy==1.0.3
msgpack==1.0.2
murmurhash==1.0.5
networkx==2.5.1
nibabel==3.2.1
nipype==1.6.1
nltk==3.6.2
numpy==1.19.5
oauth2==1.9.0.post1
oauthlib==3.1.0
odfpy==1.4.1
opencv-python==4.5.2.54
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
pager==3.3
pandas==1.2.4
parse==1.19.0
parsel==1.6.0
parso==0.8.2
pathlib==1.0.1
pathy==0.5.2
pdfkit==0.6.1
pdfminer.six==20200517
pdfplumber==0.5.28
phonenumbers==8.12.21
pickleshare==0.7.5
Pillow==8.0.1
poyo==0.5.0
preshed==3.0.5
priority==1.3.0
proglog==0.1.9
prompt-toolkit==3.0.8
Protego==0.1.16
protobuf==3.15.6
prov==2.0.0
psycopg2==2.8.6
ptyprocess==0.7.0
py3dns==3.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
pydantic==1.7.4
PyDispatcher==2.0.5
pydot==1.4.2
pydub==0.24.1
pyee==8.1.0
PyGetWindow==0.0.9
Pygments==2.9.0
PyJWT==1.7.1
pymongo==3.11.3
PyMsgBox==1.0.9
pymssql==2.2.1
PyMuPDF==1.18.14
pynput==1.7.3
pyOpenSSL==20.0.1
pypandoc==1.5
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
pyppeteer==0.2.5
pypptx==0.2.2
pyquery==1.4.3
PyRect==0.1.4
PyScreeze==0.1.27
pyseoanalyzer==4.0.3
pytesseract==0.3.8
python-bidi==0.4.2
python-crontab==2.5.1
python-dateutil==2.8.0
python-docx==0.8.11
python-linkedin-v2==0.9.4
python-magic==0.4.22
python-magic-bin==0.4.14
python-pptx==0.5.7
python-slugify==5.0.2
python-utils==2.5.6
python3-linkedin==1.0.2
python3-openid==3.2.0
PyTweening==1.0.3
pytz==2018.5
PyWavelets==1.1.1
pywin32==301
pyxnat==1.4
PyYAML==3.11
qrcode==6.1
queuelib==1.6.1
rake-nltk==1.0.4
rake-spacy==0.3.1
rdflib==5.0.0
redis==3.5.3
regex==2021.4.4
requests==2.19.1
requests-html==0.10.0
requests-oauthlib==1.3.0
roslibpy==1.2.1
rsa==4.7.2
s3transfer==0.2.0
schedule==1.1.0
scikit-image==0.18.2
scipy==1.6.3
Scrapy==2.5.0
scrapy-selenium==0.0.7
segtok==1.5.10
selenium==3.141.0
service-identity==21.1.0
simplejson==3.17.2
six==1.12.0
smart-open==3.0.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sortedcontainers==2.4.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
SpeechRecognition==3.8.1
sqlparse==0.4.1
srsly==2.4.1
stripe==2.55.0
tablib==3.0.0
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
text-unidecode==1.3
thinc==8.0.3
tifffile==2021.6.14
tika==1.24
toolz==0.11.1
torch==1.9.0
torchvision==0.10.0
tqdm==4.61.0
traitlets==5.0.5
traits==6.2.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
typer==0.3.2
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.23
validate-email==1.3
vine==5.0.0
virtualenv==20.2.2
w3lib==1.22.0
Wand==0.6.6
wasabi==0.8.2
wcwidth==0.2.5
webdriver-manager==3.4.2
webencodings==0.5.1
websocket-client==1.1.0
websockets==8.1
Werkzeug==2.0.1
whitenoise==5.2.0
wrapt==1.12.1
xlrd==2.0.1
XlsxWriter==1.4.3
xlwt==1.3.0
yake==0.4.8
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.4.0
