{% extends "products/ecommBase.html" %}
{% load static %}
{% block style %}
<style>
    .profile__img img {
        border-radius: 50%;
        width: 100%;
        max-width: 150px;
    }
    
    .profile__img {
        margin-bottom: 15px;
    }

    .seller__form {
        width: 100%;
        max-width: 600px;
        margin: auto;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin-top: 30px;
    }
</style>
{% endblock %}

{% block content %}
    {% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
  <strong id="g_msg">Message : {{message}} </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}

{% endif %}
<div class="container mt-2">
    
    <div class="text-center">
        <h5 class=" mt-4 mb-4">{{ user.role | title }} Profile</h5>
    </div>
    {% load static %}
    <div class="container seller__form mb-4">
        <form method="post" action="" >{% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="profile__img">
                        <img src="{% static 'images/avatar.png' %}" alt="">
                    </div>
                </div>
                 <div class="col-12">
                    <div class="form-group">
                        <label for="first">Full Name</label>
                        <input type="text" value="{{ user.fullname }}" name="fullname" class="form-control" placeholder="" id="first">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="first">Username</label>
                        <input type="text" value="{{ user.username }}" name="username" class="form-control" placeholder="" id="first">
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" value="{{ user.email }}"  name="email" class="form-control" id="email" placeholder="email">
                    </div>
                </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" name="zip" placeholder="" value="{{ address.pincode }}" id="zip">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" placeholder="" value="{{ address.city }}" id="city">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" name="state" placeholder="" value="{{ address.state }}" id="state">
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" name="country" placeholder="" value="{{ address.country }}" id="country">
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" name="address" placeholder="" >{{ address.address }}</textarea>
                    </div>
                </div>

                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="company">Password</label>
                        <input type="password" class="form-control" name ="password"  placeholder="" id="company">
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="company"> Confirm Password</label>
                        <input type="password" name="confirmpassword" class="form-control" placeholder="" id="company">
                    </div>
                </div>
            </div>


     


            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
</div>
{% endblock %}