{% extends "products/ecommBase.html" %}
{% load static %}
{% load humanize %}
{% block style %}
    {% load custom_tags %}
 <style>
.search__input {
    border-color: #f0f2f5;
    color: #5b6c8f;
    height: 46px;
    font-size: 18px;
}

.input-group-append button {
    height: 100% !important;
}

.chosen-container {
    display: none;
}

.search__input input.form-control {
    height: 100% !important;
}

.search__input input.form-control {
    border-radius: 5px;
    background-color: #f0f2f5;
}

.search__input input.form-control:focus{
    box-shadow: none;
    border: 2px solid #000;
}

.input-group-append button {
    background-color: #000;
    border-radius: 0px 30px 30px  0px !important;
}

.sort__by {
    margin-left: 10px;
}

.sort__by select{
    border-radius: 5px;
    border: 1px solid #000;
    height: 100%;
    margin-left: 10px;
    display: block !important;
}

@media (min-width: 768px){
    .categories__wrp h4{
        font-size: 18px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
    }
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget__category .menu--mobile li{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    position: relative;
    padding: 5px 0;
    text-align: center;

}

.btn-dark{
    color: #fff;
    background-color: #3E83C5 !important;
    border-color: #3E83C5 !important;
 }
.btn-outline-dark {
    color: #89C34A;
     border-color: #89C34A !important;
}
.btn-outline-dark:hover {
     color: #fff;
    background-color: #89C34A !important;
    border-color: #89C34A !important;
}
.widget__category .menu--mobile li:hover{
    background-color: #89C34A;
    border-radius: 50px;
}
.widget__category .menu--mobile li:hover a{
   color: #eeeeee;

}
.active_cat{
     background-color: #89C34A;
    border-radius: 50px;


}

.widget__category .menu--mobile li a{
    position: relative;
    display: block;
    line-height: 20px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;

}
.active_cat a{
     color: #eeeeee !important;
}
.categories__wrp {
    background-color: #3E83C5;
    padding: 10px;
}

.page-link {
    background-color: #3E83C5;
    color: #fff;
    border: 0;
    margin: 0 4px;
}
.page-link:hover {
    border: 1px solid #3E83C5;
    color: #000 !important;
    border: 0;
}


.ratings i {
    font-size: 16px;
    color: red
}



h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}
.minus{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.plus{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius:10px !important;
    border-bottom-right-radius: 10px !important;
}
.cart-drawer,.wishlist-drawer {
	background: #fff3cd;
  	height: 100%;
  	position: fixed;
	text-align: center;
	top: 0;
	width: 300px;
	padding: 20px;
    z-index: 2;
}

.cart-drawer-right,.wishlist-drawer-right { right: -300px; }

.cart-drawer-right.cart-drawer-open,.wishlist-drawer.cart-drawer-open { right: 0; }

.cart-drawer-pushtoleft,.wishlist-drawer-pushtoleft { right: 300px; }

.cart-drawer, .cart-drawer-push,.wishlist-drawer,.wishlist-drawer-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.cart-btn {
	cursor: pointer;
	display: inline-block;
	font-size: 30px;
}

.close-btn,.close-btn1{
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
    color: #3E83C5;
}
.colorBox{
    width: 75px;
    height: 25px;
    content: "";
    border:1px solid black;
    border-radius: 5px;
    padding: 2px 50px;
}

.colorBoxSmall{
    width: 75px;
    height: 25px;
    content: "";
    border:1px solid black;
    border-radius: 5px;
    padding: 2px 20px;
    margin: 0px 5px;
}

.selectedColor{
    border: 1px solid #3E83C5 ;
    border-radius: 5px;
    padding: 6px;
}

.mt-100 {
    margin-top: 100px
}

.product-wrapper,
.product-img {
    overflow: hidden;
    position: relative
}

.mb-45 {
    margin-bottom: 45px
}

.product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s
}

.product-wrapper {
    border-radius: 10px
}

.product-img>span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px
}

.product-action-style {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    display: inline-block;
    padding: 16px 2px 12px
}

.product-action-style>a {
    color: #979797;
    line-height: 1;
    padding: 0 21px;
    position: relative
}

.product-action-style>a.action-plus {
    font-size: 18px
}

.product-wrapper:hover .product-action {
    bottom: 20px;
    opacity: 1
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3E83C5;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: "";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 4em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);

}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #89C34A;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #89C34A;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;

}

.newcard a {
	 text-decoration: none;
}
/* Card Styles */
 .newcard .card-sl {
	 border-radius: 8px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .newcard .card-image img {
	 max-height: 166px;
	 max-width: 100%;
	 border-radius: 8px 8px 0px 0;
     object-fit: contain;

}
 .newcard .card-action {
	 position: relative;
	 float: right;
	 margin-top: -25px;
	 margin-right: 20px;
	 z-index: 2;
	 color: #89C34A;
	 background: #fff;
	 border-radius: 100%;
	 padding: 10px 14px;
	 font-size: 15px;
	 box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}
 .newcard .card-action:hover {
	 color: #fff;
	 background: #89C34A;
	 -webkit-animation: pulse 1.5s infinite;
}
 .newcard .card-heading {
	 font-size: 18px;
	 font-weight: bold;
	 background: #fff;
	 padding: 10px 15px;
}
 .newcard .card-text {
	 padding: 10px 15px;
	 background: #fff;
	 font-size: 14px;
	 color: #636262;
}
 .newcard .card-button {
	 display: flex;
	 justify-content: center;
	 padding: 10px 0;
	 width: 100%;
	 background-color: #3E83C5;
	 color: #fff;
	 border-radius: 0 0 8px 8px;
}
 .newcard .card-button:hover {
	 text-decoration: none;
	 background-color: #3E83C5;
	 color: #fff;
}
 @-webkit-keyframes pulse {
	 0% {
		 -moz-transform: scale(0.9);
		 -ms-transform: scale(0.9);
		 -webkit-transform: scale(0.9);
		 transform: scale(0.9);
	}
	 70% {
		 -moz-transform: scale(1);
		 -ms-transform: scale(1);
		 -webkit-transform: scale(1);
		 transform: scale(1);
		 box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
	}
	 100% {
		 -moz-transform: scale(0.9);
		 -ms-transform: scale(0.9);
		 -webkit-transform: scale(0.9);
		 transform: scale(0.9);
		 box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
	}
}

    </style>

{% endblock %}

{% block content %}
{% load removeSpace %}
    <div class="container mt-5">
       <div class="row">
        <div class="col-md-3">
            <div class="categories__wrp" style="border-radius: 5px">
                <h4 class="text-center" >Categories</h4>
                    <hr/>
                <div class="widget__category">

                    <ul class="menu--mobile mt-2">
                    <li><a href="/products/buyproducts/">All</a></li>
                    <hr/>


                        {% for cat in all_categories %}

                            <li id="cat_{{ cat.0 }}"

                            class="{% if request.GET.cat_id|removeSpaceFromValue == cat.0 %}
                                    active_cat
                                    {% endif %}
                                "
                            >

                                {% if request.GET.filter %}
                                    <a href="{{ request.path }}?cat_id={{ cat.0 }}&filter={{  request.GET.filter }}">{{ cat.1 }}</a>
                                {% else %}
                                    <a href="{{ request.path }}?cat_id={{ cat.0 }}">{{ cat.1 }}</a>
                                {% endif %}

                            </li>
                            <hr/>
                        {% endfor  %}


                    </ul>
                </div>
            </div>

             <div class="mt-2 categories__wrp" style="background-color: #eeeeee;border-radius: 5px">
                    <h6 class="p-1 border-bottom">Filter By</h6>
                    <p class="mb-2">Color </p>
                    <ul class="list-group" style="height: 300px;overflow-y: scroll">
                        {% for color in colors %}
                            {% if request.GET.cat_id %}
                                <li class="list-group-item list-group-item-action mb-2 rounded"><a href="{{ request.path }}?cat_id={{ request.GET.cat_id }}&color={{ color|removeHash }}" style="display: flex;justify-content: center;text-decoration: none" ><span class="{% if request.GET.color == color|removeHash %} selectedColor {% endif %}"> <span class="colorBox" style="background-color: {{ color }};color: {{ color }}"></span></span> </a></li>
                            {% else %}
                                <li class="list-group-item list-group-item-action mb-2 rounded"><a href="{{ request.path }}?color={{ color|removeHash }}" style="display: flex;justify-content: center"> <span  class="{% if request.GET.color == color|removeHash %} selectedColor {% endif %}"><span class="colorBox" style="background-color: {{ color }};color: {{ color }}"></span></span> </a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
             </div>



        </div>
        <div class="col-md-9 ">
            <form action="{% url 'buyproducts' %}" method="post">{% csrf_token %}
                <div class="input-group search__input">
                <input type="search" class="form-control" name="searchBox" value="" id="searchBox" placeholder="Search's item" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button type="search" class="btn btn-dark" style="border-top-right-radius: 5px !important;
                    border-top-left-radius: 0px !important;border-bottom-right-radius: 5px !important;border-bottom-left-radius: 0px !important
">Search</button>
                </div>
                <div class="sort__by">
                    <select class="custom-select" onchange="location = this.value;">


                            {% if request.GET.cat_id %}
                                   <option value="{{ request.path }}?filter=latest&cat_id={{ request.GET.cat_id  }}" {% if request.GET.filter == 'latest' %} selected {% endif %}>Latest</option>
                                {% else %}
                              <option value="{{ request.path }}?filter=latest" {% if request.GET.filter == 'latest' %} selected {% endif %}>Latest</option>
                            {% endif %}


                                {% if request.GET.cat_id %}
                                   <option value="{{ request.path }}?filter=highest&cat_id={{ request.GET.cat_id  }}" {% if request.GET.filter == 'highest' %} selected {% endif %}>Highest</option>
                                {% else %}
                             <option value="{{ request.path }}?filter=highest" {% if request.GET.filter == 'highest' %} selected {% endif %}>Highest</option>
                                {% endif %}

                               {% if request.GET.cat_id %}
                                   <option value="{{ request.path }}?filter=lowest&cat_id={{ request.GET.cat_id  }}" {% if request.GET.filter == 'lowest' %} selected {% endif %}>Lowest</option>
                                {% else %}
                              <option value="{{ request.path }}?filter=lowest" {% if request.GET.filter == 'lowest' %} selected {% endif %}>Lowest</option>
                                {% endif %}


                    </select>
                </div>
            </div>
            </form>

            <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
{#        <div class="col-md-10">#}
{##}
{#            {% if all_items|length > 0 %}#}
{#                 {% for item in all_items %}#}
{##}
{##}
{#            <div class="row p-2 bg-white border rounded mt-2">#}
{#                <div class="col-md-3 mt-1"><a href="{% url 'singleProduct' item.id %}"><img class="img-fluid img-responsive rounded product-image" id="ProductImage_{{ item.pk }}"  src="{{ item.image.url }}"></a></div>#}
{#                <div class="col-md-6 mt-1">#}
{#                    <h5 id="ProductName_{{ item.pk }}">{{ item.name }}</h5>#}
{#                    <div class="d-flex flex-row">#}
{#                        <div class="ratings mr-2">#}
{#                        {% with ''|center:item.rating as range %}#}
{#									 {% for _ in range %}#}
{#									 <i class="fa fa-star"></i>#}
{#								     {% endfor %}#}
{#									 {% endwith %}#}
{##}
{#                            </div>#}
{#                    </div>#}
{#                <p id="ProductCount_{{ item.pk }}" style="display: none">{{ item.quantity }} </p>#}
{#                  {% if item.get_color|length > 0 %}#}
{#                    <div class="mt-1 mb-1 spec-1"><span style="color: black;font-weight: bold">Colors : </span>#}
{##}
{#                      {% for color in item.get_color %}#}
{#                      <span class="dot" style="background-color: {{ color }}"></span>#}
{#                      {% endfor %}#}
{#                       </div>#}
{##}
{##}
{##}
{#                 {% endif %}#}
{#                 {% if item.get_size|length > 0 %}#}
{#                      {% if not item.check_if_no_size %}#}
{#                    <div class="mt-1 mb-1 spec-1"><span style="color: black;font-weight: bold">Size : </span>#}
{##}
{#                      {% for size in item.get_size %}#}
{#                    <span style="color: #0e0e0e;padding: 0px 2px">{{ size|title }}</span>#}
{#                      {% endfor %}#}
{##}
{##}
{#                        </div>#}
{#                          {% endif %}#}
{#                 {% endif %}#}
{#<span style="color: black;font-weight: bold">Seller : </span><span style="color: #0e0e0e;padding: 0px 2px">{{ item.seller.fullname }}</span>#}
{#                    <p class="text-justify text-truncate para mb-0">{{ item.description | truncatewords:20 }}</p>#}
{##}
{#                </div>#}
{#                <div class="align-items-center align-content-center col-md-3 border-left mt-1">#}
{#                    <div class="d-flex flex-row align-items-center">#}
{#                        <h4 class="mr-1" id="ProductPrice_{{ item.pk }}">${{ item.price }}</h4>#}
{#                    </div>#}
{##}
{#                    <div class="d-flex flex-column mt-4">#}
{##}
{#                        <a class="btn btn-dark btn-sm" type="button" href="{% url 'singleProduct' item.pk %}" ><i class="fa fa-shopping-cart"></i>&nbsp;Add to Cart</a>#}
{##}
{#                      <!--  <button class="btn btn-outline-dark btn-sm mt-2" type="button"><i class="fa fa-eye"></i>&nbsp;View Details</button> -->#}
{#                        <button class="btn btn-outline-dark btn-sm mt-2 addToWishList" id="addToWishList_{{item.pk}}" type="button"><i class="fa fa-heart"></i>&nbsp;Add to wishlist</button>#}
{#                    </div>#}
{#                    </div>#}
{#            </div>#}
{#            {% endfor %}#}
{#            {% else %}#}
{#                <h4 style="text-transform: uppercase;text-align: center;color: #337ab7">No Products Found which Match Your Filter</h4>#}
{#            {% endif %}#}
{#        </div>#}
     <div class="container newcard">
        <div class="row">
        {% if all_items|length > 0 %}
             {% for item in all_items %}
            <div class="col-md-4 mt-3">
                <div class="card-sl">
                    <div class="card-image">
                        <img
                            src="{{ item.image.url }}" style="width: 100%; height:100%" />
                    </div>

                    <a class="card-action addToWishList" id="addToWishList_{{item.pk}}" ><i class="fa fa-heart"></i></a>
                    <div class="card-heading">
                        {{item.name}}
                         <div style="color: #337ab7">
                            {% with ''|center:item.rating as range %}
									 {% for _ in range %}
									 <i class="fa fa-star"></i>
								     {% endfor %}
									 {% endwith %}


                        </div>
                    </div>
                    <div class="card-text">
                        {% if item.get_qtys|length > 0 %}


                      {% for things in item.get_qtys %}
                        {% if things.quantity > 0  %}
                        <span class="colorBoxSmall" style="background-color:{{ things.color.color }} "></span>
                          {% endif %}
                      {% endfor %}




                 {% endif %}

                    </div>

                    <div class="card-text" style="font-weight: bold">
                        {% if item.offer_price > 0 %}
                        $ {{ item.offer_price | intcomma }} &nbsp;<strike>$ {{ item.price | intcomma }}</strike>
                        {% else %}
                        $ {{ item.price | intcomma }}
                        {% endif %}



                    </div>
                    <a href="{% url 'singleProduct' item.pk %}" class="card-button">Purchase &nbsp;<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            {% endfor %}
         {% else %}
                <h4 style="text-transform: uppercase;text-align: center;color: #337ab7">No Products Found which Match Your Filter</h4>
            {% endif %}
        </div>
    </div>
</div>
            <div class="pagination__inner mb-2 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                     {% if all_items.has_other_pages %}
                    <ul class="pagination">
                    {% if all_items.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{all_items.previous_page_number}}">Previous</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                     {% for i in all_items.paginator.page_range %}
                           {% if all_items.number == i%}
                                   <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>

                                {% endif %}

                    {% endfor %}

                       {% if all_items.has_next %}
                       <li class="page-item"><a class="page-link" href="?page={{all_items.next_page_number}}">Next</a></li>
                    {% else %}
                     <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    {% endif %}

                    </ul>
                    {% endif %}
                  </nav>
            </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block jsfiles %}


    <script>
        var MyitName = {};
        if (localStorage.getItem('Mycart') == null) {
            var Mycart = {};
			console.log("Created")
        } else {

            Mycart = JSON.parse(localStorage.getItem('Mycart'));
			console.log("Updated")
            updateCart(Mycart);
        }

        $(document).on('click','.addProduct',function (){
            var prodId = $(this).attr('id').slice(11,)
            if(Mycart[prodId]!= undefined){
                qty = Mycart[prodId][1] + 1;
            }
            else{
                    qty = 1;
                    productName = $('#ProductName_'+prodId).html();
                    productPrice = $('#ProductPrice_'+prodId).html().slice(1,);
                    productCount = $('#ProductCount_'+prodId).html();
                    img_url = $("#ProductImage_"+prodId).attr('src');
                    img_url = img_url.replace('url(','').replace(')','').replace(/\"/gi, "");
                    console.log(img_url)
                    Mycart[prodId] = [parseInt(prodId),qty, productName, parseInt(productPrice),productCount,img_url];
            }
            updateCart(Mycart)
        })
        function updateCart(Mycart) {
            //console.log("Update Cart")
            //console.log(JSON.stringify(Mycart))



        localStorage.setItem('Mycart', JSON.stringify(Mycart))
            var Counter = 0;
			for (count in Mycart) {
				Counter += parseInt(Mycart[count][1]);
			}
			document.getElementById('CartCounter').innerHTML = Counter;
 }


    </script>
{% endblock  %}