{% extends "products/ecommBase.html" %}
{% load static %}
{% block style %}
<link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

.card {
    background-color: #fff;
    padding: 14px;
    border: none
}

.demo {
    width: 100%
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

#lightSlider img {
    display: block;
    height: auto;
    width: 100%
}

.stars i {
    color: #f6d151
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}

.badge {

}

.badge i {
    font-size: 10px
}

.profile-image {
    width: 35px
}

.comment-ratings i {
    font-size: 13px
}

.username {
    font-size: 12px
}

.comment-profile {
    line-height: 17px
}

.date span {
    font-size: 12px
}

.p-ratings i {
    color: #f6d151;
    font-size: 12px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.buttons {
    margin-top: 15px
}

.buttons .btn {
    height: 46px
}

.buttons .cart {
    border-color: #ff7676;
    color: #ff7676
}

.buttons .cart:hover {
    background-color: #e86464 !important;
    color: #fff
}

.buttons .buy {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676
}

.buttons .buy:focus,
.buy:active {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676;
    box-shadow: none
}

.buttons .buy:hover {
    color: #fff;
    background-color: #e86464;
    border-color: #e86464
}

.buttons .wishlist {
    background-color: #fff;
    border-color: #ff7676
}

.buttons .wishlist:hover {
    background-color: #e86464;
    border-color: #e86464;
    color: #fff
}

.buttons .wishlist:hover i {
    color: #fff
}

.buttons .wishlist i {
    color: #ff7676
}

.comment-ratings i {
    color: #f6d151
}

.followers {
    font-size: 9px;
    color: #d6d4d4
}

.store-image {
    width: 42px
}

.dot {
    height: 20px;
    width: 20px;
    border : 1px solid black;
    border-radius: 50%;
    display: inline-block;
  }

.small-dot{

    height: 12px;
    width: 12px;
    border : 1px solid black;
    border-radius: 50%;
    display: inline-block;

}
.bullet-text {
    font-size: 12px
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}
.card-body {
    padding: 0.3rem 0.3rem 0.2rem
}
.btn-dark{
    color: #fff;
    background-color: #3E83C5 !important;
    border-color: #3E83C5 !important;
 }
.btn-outline-dark {
    color: #89C34A;
     border-color: #89C34A !important;
}
.btn-outline-dark:hover {
     color: #fff;
    background-color: #89C34A !important;
    border-color: #89C34A !important;
}
.sort__by {
    margin-left: 10px;
}

.sort__by select{
    border-radius: 30px;
    border: 1px solid #000;
    height: 100%;
    margin-left: 10px;
    display: block !important;
}
.dot {
    position: relative;
}

.dot.active::after {
    content: "";
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
}

.dot {
    margin: 0 5px;
}
.size_square.selected {
    background-color: #3E83C5;
    color: #fff;
    border-color:#3E83C5 !important; ;
}
.cart-drawer-push {
	overflow-x: hidden;
	position: relative;
	right: 0;
}

.cart-drawer,.wishlist-drawer {
	background: #fff3cd;
  	height: 100%;
  	position: fixed;
	text-align: center;
	top: 0;
	width: 300px;
	padding: 20px;
    z-index: 2;
}

.cart-drawer-right,.wishlist-drawer-right { right: -300px; }

.cart-drawer-right.cart-drawer-open,.wishlist-drawer.cart-drawer-open { right: 0; }

.cart-drawer-pushtoleft,.wishlist-drawer-pushtoleft { right: 300px; }

.cart-drawer, .cart-drawer-push,.wishlist-drawer,.wishlist-drawer-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.cart-btn {
	cursor: pointer;
	display: inline-block;
	font-size: 30px;
}

.close-btn,.close-btn1{
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
    color: #3E83C5;
}

.arrow-icon {
    position: absolute;
    right: 58px;
    top: 25px;

}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-2 mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <ul id="lightSlider">
                        <li> <img src="{{ product.image.url }}"  id="ProductImage_{{ product.pk }}" /> </li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-ratings">

                          {% with ''|center:product.rating as range %}
									 {% for _ in range %}
									 <i class="fa fa-star"></i>
								     {% endfor %}
									 {% endwith %}

                            </div>
                </div>
             <p id="ProductCount_{{ product.pk }}" style="display: none">{{ product.quantity }} </p>
                <div class="about"> <span class="font-weight-bold" id="ProductName_{{ product.pk }}">{{  product.name }} </span>
                    <h4 class="font-weight-bold" id="ProductPrice_{{ product.pk }}">&#8377; {{ product.price }}</h4>
                </div>
                {% if product.quantity %}
            <div class="buttons"> <span id="divadd_{{product.pk}}" class="divproduct"><button class="btn btn-dark btn-long addProduct" id="addProduct_{{ product.pk }}">Add to Cart</button></span> <button class="btn btn-outline-dark addToWishList" id="addToWishList_{{product.pk}}"> <i class="fa fa-heart"></i> </button> </div>
            {% else %}
                <h6 style="color:red;">Out of Stock</h6>
            {% endif %}
                <hr>
                <div class="product-description">

                   {% if product.get_color %}
                       <div><span class="font-weight-bold">Color:</span></div>
                    <div class="my-color">
                        {% for color in product.get_color %}
                                <span class="dot" id="color_{{ product.pk }}" style="background-color: {{ color }}"></span>
                        {% endfor %}
                    </div>
                  {% endif %}

                    {% if product.get_size %}
                         <div><span class="font-weight-bold">Size:</span>
                    <div class="my-size mt-2">
                       {% for size in product.get_size %}
                                <span class="size_square" id="size_{{ product.pk }}" style="padding: 2px 10px;border: 1px solid black">{{ size | title }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    </div>
                    <div class="mt-2"> <span class="font-weight-bold">Description</span>
                        <p>{{ product.description }}</p>

                    </div>
                    <div class="mt-2"> <span class="font-weight-bold">Seller</span> </div>
                    <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/N2fYgvD.png" class="rounded-circle store-image">
                        <div class="d-flex flex-column ml-1 comment-profile"><span class="username">{{ product.seller.username}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
 <div class="cart-drawer cart-drawer-right">
            <span>Your Cart</span>
            <div class="close-btn">
                <i class="fas fa-times fa-2x"></i>
            </div><!-- /.close-btn -->
            <div>
                <div id="cartProducts">


            </div>
                <a href="{% url 'cart' %}" class="btn btn-dark mt-3">GO TO CART</a>
            </div>
        </div><!-- /.cart-drawer .cart-drawer-right -->

  <div class="wishlist-drawer wishlist-drawer-right">
            <span>Your Wishlist</span>
            <div class="close-btn1">
                <i class="fas fa-times fa-2x"></i>
            </div><!-- /.close-btn -->
            <div>
                <div id="wishListProducts">


            </div>

            </div>
        </div><!-- /.cart-drawer .cart-drawer-right -->
{% endblock %}

{% block jsfiles %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>

<script>
    $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 9
    });

    $(".size_square").click(function (){
        $(".size_square").removeClass('selected')

        $(this).toggleClass('selected')


    })
    $('.my-color .dot').click(function(){

    $(this).parent().find('.dot').removeClass('active');
    $(this).addClass('active');


});

</script>
        <script>
        var hexDigits = new Array
        ("0","1","2","3","4","5","6","7","8","9","a","b","c","d","e","f");

//Function to convert rgb color to hex format
function rgb2hex(rgb) {
 rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
 return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
}

function hex(x) {
  return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
 }

        var MyitName = {};
        if (localStorage.getItem('Mycart') == null) {
            var Mycart = {};
			console.log("Created")
        } else {

            Mycart = JSON.parse(localStorage.getItem('Mycart'));
			console.log("Updated")
            updateCart(Mycart);
        }

        $(document).on('click','.addProduct',async function (){
            var id = $(this).attr('id').slice(11,)
            var color = "";
            var size = "";
            console.log(color,size)
            $('.my-color').children('.dot').each(function(i) {
                if($(this).hasClass('active')){
                    color = $(this).css('background-color')
                }
            });
             $('.my-size').children('.size_square').each(function(i) {
                if($(this).hasClass('selected')){
                    size = $(this).html()
                }
            });

            if(color === "" && $(".my-color").children().length > 0){
                        alert("Please Select Color of Product")
                    }
                    else if(size === "" && $(".my-size").children().length > 0){
                        alert("Please Select Size of Product")
                    }else if($(".my-color").children().length > 0){
                         color = rgb2hex(color).slice(1,)
                    }

            var prodId = id.toString()+"_"+color.toString()+"_"+size.toString()
            if(Mycart[prodId]!= undefined){


                    Mycart[prodId][1] = Mycart[prodId][1] + 1;

               /* if (Mycart[prodId][6].indexOf(color)=== -1) {

                        Mycart[prodId][6][color]
                }
                else{

                }
                if(Mycart[prodId][7].indexOf(size) === -1){
                     Mycart[prodId][7].push({
                         'size':size,
                         'count':Mycart[prodId][7]['count'] +1
                     })

                }else{

                }*/






            }

            else{

                    qty = 1;
                    productName = $('#ProductName_'+id).html();
                    productPrice = $('#ProductPrice_'+id).html().slice(1,);

                    productCount = $('#ProductCount_'+id).html();
                    img_url = $("#ProductImage_"+id).attr('src');
                    img_url = img_url.replace('url(','').replace(')','').replace(/\"/gi, "");

                    if(color === "" &&  $(".my-color").children().length > 0){
                        alert("Please Select Color of Product")
                    }
                    else if(size === "" &&  $(".my-size").children().length > 0){
                        alert("Please Select Size of Product")
                    }
                    else{
                        {#Mycart[prodId] = [parseInt(prodId),qty, productName, parseInt(productPrice),productCount,img_url,[{'color':color,'count':1}],[{'size':size,'count':1}]];#}
                        Mycart[prodId] = [parseInt(id),qty, productName, parseInt(productPrice),productCount,img_url,color,size]
                    }

            }
            await updateCart(Mycart)
             $("#cartProducts").empty()
            	for (var item in Mycart) {
             $("#cartProducts").append(
          `<div class="d-sm-flex justify-content-between align-items-center border-bottom my-1" id="product_${item}">
                <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="/products/singleProduct/${Mycart[item][0]}"><img src="${Mycart[item][5]}" width="100" alt="Product"></a>
                  <div class="p-2  ml-4 text-center">
                    <h5 class="product-title fs-base mb-2" style="font-size: 1rem"><a href="shop-single-v1.html">${Mycart[item][2]}</a></h5>
                    ${ Mycart[item][7] ? `<div class="fs-sm"><span class="text-muted me-2" style="font-size: 0.9rem">Size :</span><span id="size_${item[0]}" style="font-size: 0.9rem">${Mycart[item][7]}</span></div>`:``}

                    ${Mycart[item][6] ? `<div class="fs-sm"><span class="text-muted me-2" style="font-size: 0.9rem">Color:</span> <span class="small-dot" id="color_${item[0]}" style="background-color: #${Mycart[item][6]}"> </span></div>`:''}

                  </div>
                </div>


              </div>
          `
        );}



            $(this).addClass('active');
			$('.cart-drawer-push').addClass('cart-drawer-pushtoleft');
			$('.cart-drawer-right').addClass('cart-drawer-open');
          //  location.href="http://127.0.0.1:8000/orders/cart/"
        })

        function updateCart(Mycart) {
            //console.log("Update Cart")
            //console.log(JSON.stringify(Mycart))
            var item ={{ product.id }}
            console.log(item)



        localStorage.setItem('Mycart', JSON.stringify(Mycart))
            var Counter = 0;
			for (count in Mycart) {
				Counter += parseInt(Mycart[count][1]);
			}
		document.getElementById('CartCounter').innerHTML = Counter;

 }



        function updatepopover(Mycart) {

            var popstr = "";
            popstr= popstr + "<h5>Cart for your items in my shopping cart</h5><div class='mx-2 my-2' style='font-weight:bold;'>";
            var i = 1;
            for (var it in Mycart) {
                console.log(it);
                //console.log(document.getElementById("Name"+it));
                if (Mycart[it][0] == 0) {} else {
                    popstr = popstr + "<b>" + i + "</b>. ";
                    popstr = popstr + document.getElementById("ProductName_" + it).innerHTML + ".... Qty : " + Mycart[it][1] + "<br>";
                    i = i + 1;
                }
            }


            popstr = popstr + "</div>";
            document.getElementById("popcart").setAttribute('data-content', popstr);

            var $j = jQuery.noConflict();

            $j(document).ready(function() {
                $j('[data-toggle="popover"]').popover();
            });
            $('#popcart').show();


        }


        $(".addToWishList").click(function (){
            id = this.id.slice(14,)
             $.post("{% url 'addToWishList' %} ",
              {
                productId : id
              },
              function(data, status){
                $("#wishListProducts").empty()
                if(data.msg == "success"){
                 products = JSON.parse(data.products)

                    for(let i=0;i< products.length;i++){
                        product = products[i].fields
                          $("#wishListProducts").append(
                              `<div class="d-sm-flex justify-content-between align-items-center border-bottom my-1" id="product_${product.pk}">
                                    <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="/products/singleProduct/${product.pk}"><img src="/media/${product.image}" width="100" alt="Product"></a>
                                      <div class="p-2  ml-4 text-center">
                                        <h5 class="product-title fs-base mb-2" style="font-size: 1rem"><a href="#">${product.name}</a></h5>
                                        <h5 class="product-title fs-base mb-2" style="font-size: 1rem"><a href="#">${product.price}</a></h5>


                                      </div>
                                    </div>


                                  </div>
                              `
                            )
                    }

                }

                else if(data.msg == "alreadyExist"){
                    alert("Product Already Exists in Wishlist")
                     products = JSON.parse(data.products)
                    for(let i=0;i< products.length;i++){
                        product = products[i].fields
                        console.log(product)
                          $("#wishListProducts").append(
                              `<div class="d-sm-flex justify-content-between align-items-center border-bottom my-1" id="product_${product.pk}">
                                    <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="/products/singleProduct/${product.pk}"><img src="/media/${product.image}" width="100" alt="Product"></a>
                                      <div class="p-2  ml-4 text-center">
                                        <h5 class="product-title fs-base mb-2" style="font-size: 1rem"><a href="#">${product.name}</a></h5>
                                        <h5 class="product-title fs-base mb-2" style="font-size: 1rem"><a href="#">$ ${product.price}</a></h5>


                                      </div>
                                    </div>


                                  </div>
                              `
                            )
                    }

                }
                    $('.wishlist-drawer-push').addClass('cart-drawer-pushtoleft');
			        $('.wishlist-drawer-right').addClass('cart-drawer-open');
			        $("#whishListCounter").html(data.count)
                  localStorage.setItem('wishCounter', JSON.stringify(data.count))
              });

        })



    </script>
{% endblock jsfiles %}