{% extends "products/ecommBase.html" %}
{% load static %}
{% block style %}
<link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

.card {
    background-color: #fff;
    padding: 14px;
    border: none
}

.demo {
    width: 100%
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

#lightSlider img {
    display: block;
    height: auto;
    width: 100%
}

.stars i {
    color: #f6d151
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}

.badge {

}

.badge i {
    font-size: 10px
}

.profile-image {
    width: 35px
}

.comment-ratings i {
    font-size: 13px
}

.username {
    font-size: 12px
}

.comment-profile {
    line-height: 17px
}

.date span {
    font-size: 12px
}

.p-ratings i {
    color: #f6d151;
    font-size: 12px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.buttons {
    margin-top: 15px
}

.buttons .btn {
    height: 46px
}

.buttons .cart {
    border-color: #ff7676;
    color: #ff7676
}

.buttons .cart:hover {
    background-color: #e86464 !important;
    color: #fff
}

.buttons .buy {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676
}

.buttons .buy:focus,
.buy:active {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676;
    box-shadow: none
}

.buttons .buy:hover {
    color: #fff;
    background-color: #e86464;
    border-color: #e86464
}

.buttons .wishlist {
    background-color: #fff;
    border-color: #ff7676
}

.buttons .wishlist:hover {
    background-color: #e86464;
    border-color: #e86464;
    color: #fff
}

.buttons .wishlist:hover i {
    color: #fff
}

.buttons .wishlist i {
    color: #ff7676
}

.comment-ratings i {
    color: #f6d151
}

.followers {
    font-size: 9px;
    color: #d6d4d4
}

.store-image {
    width: 42px
}

.dot {
    height: 20px;
    width: 20px;
    border : 1px solid black;
    border-radius: 50%;
    display: inline-block;
  }
.bullet-text {
    font-size: 12px
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}
.card-body {
    padding: 0.3rem 0.3rem 0.2rem
}
.btn-dark{
    color: #fff;
    background-color: #3E83C5 !important;
    border-color: #3E83C5 !important;
 }
.btn-outline-dark {
    color: #89C34A;
     border-color: #89C34A !important;
}
.btn-outline-dark:hover {
     color: #fff;
    background-color: #89C34A !important;
    border-color: #89C34A !important;
}
.sort__by {
    margin-left: 10px;
}

.sort__by select{
    border-radius: 30px;
    border: 1px solid #000;
    height: 100%;
    margin-left: 10px;
    display: block !important;
}
.dot {
    position: relative;
}

.dot.active::after {
    content: "";
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
}

.dot {
    margin: 0 5px;
}
.size_square.selected {
    background-color: #3E83C5;
    color: #fff;
    border-color:#3E83C5 !important; ;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-2 mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <ul id="lightSlider">
                        <li> <img src="{{ product.image.url }}"  id="ProductImage_{{ product.pk }}" /> </li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-ratings">

                          {% with ''|center:product.rating as range %}
									 {% for _ in range %}
									 <i class="fa fa-star"></i>
								     {% endfor %}
									 {% endwith %}

                            </div>
                </div>
             <p id="ProductCount_{{ product.pk }}" style="display: none">{{ product.quantity }} </p>
                <div class="about"> <span class="font-weight-bold" id="ProductName_{{ product.pk }}">{{  product.name }} </span>
                    <h4 class="font-weight-bold" id="ProductPrice_{{ product.pk }}">&#8377; {{ product.price }}</h4>
                </div>
                <div class="buttons"> <span id="divadd_{{product.pk}}" class="divproduct"><button class="btn btn-dark btn-long addProduct" id="addProduct_{{ product.pk }}">Add to Cart</button></span> <button class="btn btn-outline-dark "> <i class="fa fa-heart"></i> </button> </div>
                <hr>
                <div class="product-description">
                    <div><span class="font-weight-bold">Color:</span><span> blue</span></div>
                    <div class="my-color">
                        {% for color in product.get_color %}

                                <span class="dot" id="color_{{ product.pk }}" style="background-color: {{ color }}"></span>



                        {% endfor %}
                    </div>
                    <div><span class="font-weight-bold">Size:</span>
                    <div class="my-size mt-2">
                       {% for size in product.get_size %}
                                <span class="size_square" id="size_{{ product.pk }}" style="padding: 2px 10px;border: 1px solid black">{{ size | title }}</span>
                        {% endfor %}
                    </div>
                    </div>
                    <div class="mt-2"> <span class="font-weight-bold">Description</span>
                        <p>{{ product.description }}</p>

                    </div>
                    <div class="mt-2"> <span class="font-weight-bold">Seller</span> </div>
                    <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/N2fYgvD.png" class="rounded-circle store-image">
                        <div class="d-flex flex-column ml-1 comment-profile"><span class="username">{{ product.seller.username}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block jsfiles %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script>
    $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 9
    });

    $(".size_square").click(function (){
        $(".size_square").removeClass('selected')

        $(this).toggleClass('selected')


    })
    $('.my-color .dot').click(function(){

    $(this).parent().find('.dot').removeClass('active');
    $(this).addClass('active');


});
</script>
        <script>
        var MyitName = {};
        if (localStorage.getItem('Mycart') == null) {
            var Mycart = {};
			console.log("Created")
        } else {

            Mycart = JSON.parse(localStorage.getItem('Mycart'));
			console.log("Updated")
            updateCart(Mycart);
        }

        $(document).on('click','.addProduct',function (){
            var prodId = $(this).attr('id').slice(11,)
            var color = "";
            var size = "";

            $('.my-color').children('.dot').each(function(i) {
                if($(this).hasClass('active')){
                    color = $(this).css('background-color')
                }
            });
             $('.my-size').children('.size_square').each(function(i) {
                if($(this).hasClass('selected')){
                    size = $(this).html()
                }
            });
            console.log(size,color)
            if(Mycart[prodId]!= undefined){
                console.log(Mycart[prodId][6])
                if (Mycart[prodId][6]==color && Mycart[prodId][7] == size){
                         Mycart[prodId][1] = Mycart[prodId][1] + 1;

                }else{
                     qty = 1;
                    productName = $('#ProductName_'+prodId).html();
                    productPrice = $('#ProductPrice_'+prodId).html().slice(1,);

                    productCount = $('#ProductCount_'+prodId).html();
                    img_url = $("#ProductImage_"+prodId).attr('src');
                    img_url = img_url.replace('url(','').replace(')','').replace(/\"/gi, "");
                    console.log(img_url)
                    Mycart[prodId] = [parseInt(prodId),qty, productName, parseInt(productPrice),productCount,img_url,color,size];


                }
            }

            else{

                    qty = 1;
                    productName = $('#ProductName_'+prodId).html();
                    productPrice = $('#ProductPrice_'+prodId).html().slice(1,);

                    productCount = $('#ProductCount_'+prodId).html();
                    img_url = $("#ProductImage_"+prodId).attr('src');
                    img_url = img_url.replace('url(','').replace(')','').replace(/\"/gi, "");
                    console.log(img_url)
                    Mycart[prodId] = [parseInt(prodId),qty, productName, parseInt(productPrice),productCount,img_url,color,size];



            }
            updateCart(Mycart)
            location.href="http://themes-wall.herokuapp.com/orders/cart/"
        })
        function updateCart(Mycart) {
            //console.log("Update Cart")
            //console.log(JSON.stringify(Mycart))
            var item ={{ product.id }}
            console.log(item)



        localStorage.setItem('Mycart', JSON.stringify(Mycart))
            var Counter = 0;
			for (count in Mycart) {
				Counter += parseInt(Mycart[count][1]);
			}
		document.getElementById('CartCounter').innerHTML = Counter;

 }



        function updatepopover(Mycart) {

            var popstr = "";
            popstr= popstr + "<h5>Cart for your items in my shopping cart</h5><div class='mx-2 my-2' style='font-weight:bold;'>";
            var i = 1;
            for (var it in Mycart) {
                console.log(it);
                //console.log(document.getElementById("Name"+it));
                if (Mycart[it][0] == 0) {} else {
                    popstr = popstr + "<b>" + i + "</b>. ";
                    popstr = popstr + document.getElementById("ProductName_" + it).innerHTML + ".... Qty : " + Mycart[it][1] + "<br>";
                    i = i + 1;
                }
            }


            popstr = popstr + "</div>";
            document.getElementById("popcart").setAttribute('data-content', popstr);

            var $j = jQuery.noConflict();

            $j(document).ready(function() {
                $j('[data-toggle="popover"]').popover();
            });
            $('#popcart').show();


        }
    </script>
{% endblock jsfiles %}