.product_card .card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.product_card .image-container {
    position: relative
}

.product_card .thumbnail-image {
    border-radius: 10px !important
}

.product_card .discount {
    background-color: red;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    border-radius: 6px;
    color: #fff
}

.product_card .wishlist {
    height: 25px;
    width: 25px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.product_card .first {
    position: absolute;
    width: 100%;
    padding: 9px
}

.product_card .dress-name {
    font-size: 13px;
    font-weight: bold;
    width: 70%
}

.product_card .new-price {
    font-size: 13px;
    font-weight: bold;
    color: red
}

.product_card .old-price {
    font-size: 8px;
    font-weight: bold;
    color: grey
}

.product_card .btn {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 3px
}

.product_card .creme {
    background-color: #fff;
    border: 2px solid grey
}

.product_card .creme:hover {
    border: 3px solid grey
}

.product_card .creme:focus {
    background-color: grey
}

.product_card .red {
    background-color: #fff;
    border: 2px solid red
}

.product_card .red:hover {
    border: 3px solid red
}

.product_card .red:focus {
    background-color: red
}

.product_card .blue {
    background-color: #fff;
    border: 2px solid #40C4FF
}

.product_card .blue:hover {
    border: 3px solid #40C4FF
}

.product_card .blue:focus {
    background-color: #40C4FF
}

.product_card .darkblue {
    background-color: #fff;
    border: 2px solid #01579B
}

.product_card .darkblue:hover {
    border: 3px solid #01579B
}

.product_card .darkblue:focus {
    background-color: #01579B
}

.product_card .yellow {
    background-color: #fff;
    border: 2px solid #FFCA28
}

.product_card .yellow:hover {
    border-radius: 3px solid #FFCA28
}

.product_card .yellow:focus {
    background-color: #FFCA28
}

.product_card .item-size {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid grey;
    color: grey;
    font-size: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.product_card .rating-star {
    font-size: 10px !important
}

.product_card .rating-number {
    font-size: 10px;
    color: grey
}

.product_card .buy {
    font-size: 12px;
    color: purple;
    font-weight: 500
}

.product_card .voutchers {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 190px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden
}

.product_card .voutcher-divider {
    display: flex
}

.product_card .voutcher-left {
    width: 60%
}

.product_card .voutcher-name {
    color: grey;
    font-size: 9px;
    font-weight: 500
}

.product_card .voutcher-code {
    color: red;
    font-size: 11px;
    font-weight: bold
}

.product_card .voutcher-right {
    width: 40%;
    background-color: purple;
    color: #fff
}

.product_card .discount-percent {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 5px
}

.product_card .off {
    font-size: 14px;
    position: relative;
    bottom: 5px
}

