ul.category_menu_list {
    padding: 0;
    list-style: none;
    column-count: 4;
    min-width: 600px;
}

.dropdown-menu {
    padding: 20px !important;
}

li.nav-item {
    margin: 0 5px;
}

ul.category_menu_list li a {
    text-decoration: none;
}