{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Privacy & Policy</title>
    <link rel="icon" href="{% static 'images/fav.png' %}" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
<div class="topbar stick" style="">
    <div class="logo">
        <a title="" href=""><img src="/static/images/logo.png" alt=""></a>
    </div>

    <div class="top-area">


        <div class="user-img">
            <span>Welcome,</span>
            <span>demo</span>
            <img src="/media/default.png" alt="" style="vertical-align: middle;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;">
            <span class="status f-online"></span>
        </div>

    </div>
</div>

<div class="container">
    <p class="company_web">THEMENSWALL.COM</p>
    <p class="company_web">PRIVACY POLCY</p>
    <p>
        This privacy policy ("policy") will help you understand how ____________, LLC (“Company”, "us", "we", "our")
        uses and protects the data you provide
        to us when you visit and use http://themenswall.com/ ("website", "service").
    </p>
    <p>
        We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want
        to make sure that
        you are up to date with the latest changes, we advise you to frequently visit this page.
    </p>
    <p>
        The Site is hosted in the United States. The Site is subject to U.S. state and federal law. If you are accessing
        our Site from other jurisdictions, please be advised that you are transferring your personal information to us
        in the United States, and by using our Site, you are agreeing to that transfer and use of your personal
        information in accordance with this Privacy Policy. You also agree to abide to the applicable laws of the State
        of ____________________ and U.S. federal law concerning your use of the Sites and your agreements with us.
    </p><br>
    <div class="user_data">
        <h1>1. What User Data We Collect</h1>
        <p>When you visit the website, we may collect the following data:</p>
        <ul>
            <li>a. Your IP address</li>
            <li>b. Your contact information and email address</li>
            <li>c. Other information such as interests and preferences.</li>
            <li>d. Data profile regarding your online behaviour on our website.</li>
        </ul>
    </div>
    <div class="user_data">
        <h1>2. Why We Collect Your Data</h1>
        <p>We are collecting your data for several reasons:</p>
        <ul>
            <li>a. To better understand your needs.</li>
            <li>b. To improve our services and products.</li>
            <li>c. To send you promotional emails containing the information we think you will find interesting.</li>
            <li>d. To contact you to fill out surveys and participate in other types of market research.</li>
            <li>e. To customize our website according to your online behaviour and personal preferences.</li>
        </ul>
    </div>
    <div class="user_data">
        <h1>3. Safeguarding and Securing the Data</h1>
        <p>
            We are committed to securing your data and keeping it confidential. Company has done all in its power to
            prevent data theft, unauthorized access, and disclosure by implementing the latest
            technologies and software, which help us safeguard all the information we collect online.
        </p>
    </div>
    <div class="user_data">
        <h1>4. Our Cookie Policy</h1>
        <ul>
            <li>
                <b> 4.1 </b> Once you agree to allow our website to use cookies, you also agree to use the data it
                collects
                regarding your online behaviour
                (analyse web traffic, web pages you spend the most time on, and websites you visit).
            </li>
            <li>
                <b>4.2</b> We (and our third-party analytics providers, such as Google® Analytics) may use both session
                cookies
                and persistent cookies to identify that you’ve logged in to our Services and to tell us how and when you
                interact with them. We may also use cookies to
                monitor aggregate usage and web traffic routing for our Services and to customize and improve them.
            </li>
            <li>
                4.3 The data we collect by using cookies is used to customize our website to your needs.
                After we use the data for statistical analysis, the data is completely removed from our systems.
            </li>
            <li>
                4.4 Please note that cookies don't allow us to gain control of your computer in any way. They are
                strictly used to monitor
                which pages you find useful and which you do not so that we can provide a better experience for you.
            </li>
            <li>
                4.5 If you want to disable cookies, you can do it by accessing the settings of your internet browser.
            </li>
            <li>
                4.6 Please note, however, that if you don’t accept cookies, you may not be able to
                access all portions or features of our Services. We may also employ, and/or our third-party
                providers may employ, software technology called tags or web beacons (a.k.a. pixel tags or clear
                gifs), that help us better manage our Services’ content and communications by informing
                us what content is effective and how it is used. These beacons (or other tracking technology)
                may be included in or associated with emails or other communications that you receive from us
                (or our partners) in order to help us track your response and interests and to deliver you
                relevant content and services.
            </li>
        </ul>

    </div>
    <div class="user_data">
        <h1>5. Links to Other Websites</h1>
        <p>
            Our website contains links that lead to other websites. If you click on these links, Themenswall is not held
            responsible for your data and privacy protection. Visiting those websites is not governed by this privacy
            policy agreement.
            Make sure to read the privacy policy documentation of the website you go to from our website.
        </p>

    </div>

    <div class="user_data">
        <h1>6. Restricting the Collection of your Personal Data</h1>
        <p>
            At some point, you might wish to restrict
            the use and collection of your personal data. You can achieve this by doing the following:
        </p>
        <ul>
            <li>
                a. When you are filling the forms on the website, make sure to check if
                there is a box that you can leave unchecked, if you don't want to disclose your personal information.
            </li>
            <li>
                b. If you have already agreed to share your information
                with us, feel free to contact us via email and we will be more than happy to change this for you.
            </li>
            <li>
                c. Company will not lease, sell or distribute your personal information to any third parties, unless we
                have your permission. We might do so if the law forces us. Your personal
                information will be used when we need to send you promotional materials if you agree to this privacy
                policy.
            </li>
        </ul>

    </div>

    <div class="user_data">
        <h1>
            7. Preventive measures and protection of Personal Information
        </h1>
        <ul>
            <li>
                We will take all commercially reasonable preventive measures against the anticipated risks to which Your
                Personal Information may be exposed, like unauthorized access, unlawful disclosure, loss of data, and
                damage
                or destruction. We will treat with utmost confidentiality, all Your Personal Information We access
                during
                the provision of Services and promptly apply appropriate measures if any untoward incident or breach of
                privacy happens.
                We undertake to continually improve our measures for the protection of Your Personal Information.

            </li>
        </ul>
    </div>

    <div class="user_data">
        <h1>
            8. Data Retention
        </h1>
        <ul>
            <li>
                We will retain your information for as long as your account is active or as needed to provide you
                services.
                If you wish to cancel or request that we no longer use your information to provide you services contact
                us
                at info@themenswall.com,. We will however continue to retain and use your information
                as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
            </li>
        </ul>
    </div>

    <div class="user_data">
        <h1>
            9. Transfer of Personal Information
        </h1>
        <ul>
            <li>
                Your Personal Information may be transferred to any jurisdiction within U.S.
                or other jurisdictions where We or any of Our affiliated partners or contractors operate.
                We may also transfer all Personal Information in Our record as one of Our assets in the
                event of merger, acquisition, reorganization or bankruptcy (if any). The privacy laws may
                vary from one jurisdiction to another. Your acceptance of this Privacy Policy will constitute Your
                acknowledgement
                and consent to us to transfer Your Personal Information as described in this Privacy Policy.
            </li>
        </ul>
    </div>

    <div class="user_data">
        <h1>
            10. Governing Law
        </h1>
        <ul>
            <li>
                Disputes over privacy issues contained in this Privacy Notice will be governed by the law of the State
                of
                ____________________. You also
                agree to abide by any limitation on damages contained in our Terms of Use, or other agreement that we
                have
                with you.
            </li>
        </ul>
    </div>

    <div class="user_data">
        <h1>
            11. Notice

        </h1>
        <ul>
            <li>
                If you have any questions regarding our Privacy Notice, please contact us at: info@themenswall.com
            </li>
        </ul>
    </div>


</div>
<div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bottom_footer">
                        <span class="copyright"><a target="_blank" href="#">The men's wall</a></span>
                        <span class="terms">
                            <a class="copyright" target="_blank" href="{% url 'privacy_policy' %}" style="margin-right: 15px">Policy</a>
                            <a class="copyright" target="_blank" href="{% url 'terms_condition' %}" style="margin-right: 15px">Terms</a>
                            <a class="copyright" target="_blank" href="#">Copyright <span>©</span></a>
{#                            <span class="copyright"><a target="_blank" href="#">Copyright 2021 <span class="copy_icon">©</span></a></span>#}

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/map-init.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
</body>
</html>
