{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Terms & Condition</title>
    <link rel="icon" href="{% static 'images/fav.png' %}" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
<div class="topbar stick" style="">
    <div class="logo">
        <a title="" href=""><img src="/static/images/logo.png" alt=""></a>
    </div>

    <div class="top-area">


        <div class="user-img">
            <span>Welcome,</span>
            <span>demo</span>
            <img src="/media/default.png" alt="" style="vertical-align: middle;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;">
            <span class="status f-online"></span>
        </div>

    </div>
</div>
<div class="container">
    <p class="company_web">
        TERMS AND CONDITIONS
    </p>
    <p class="sub_title">
        Effective Date: __ Date of ______, 2021
    </p>
    <p class="sub_title">
        Website Covered: http:/themenswall.com/
    </p>
    <p>
        THE AGREEMENT: The use of the website and services on the domain www.themenswall.com is owned and operated by
        __________ LLC (hereinafter referred to as “Owner”) having their registered office at _____________. The user or
        visitor of the website is subject to the following Terms and Conditions (hereinafter the “Terms of service”),
        all parts and sub parts of which are specifically incorporated by reference here together with the Privacy
        Policy. Following are the Terms of Service governing your use of http:/themenswall.com/ (the “Website”),
        all pages on the Website and any services provided or on this Website (“Services”).
    </p>
    <p>
        By accessing either directly or through hyperlink, the Website, and/or purchasing something from us, you engage
        in our “Service” and agree to be bound by the Terms of Service including additional terms and conditions and
        policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site,
        including without limitation vendors, buyers, customers, merchants, browsers and/or contributors of content. You
        acknowledge and agree that the Website may use your personal information in the manner described in our
        Privacy Policy which sets forth how information collected about you is collected, used and stored.
    </p>

    <div class="user_data">
        <h1>
            1. DEFINITIONS
        </h1>
        <p>
            1.1 The parties referred to in These Terms of Service shall be defined as follows:
        </p>
        <ul>
            <li>
                a) Owners, Us, We: The Owner, as the creator, operator and published of the Website makes the Website
                and certain Services on it, available to users.
                <COMPANY NAME>, Owner, US, We, Our, Ours and other first-person pronouns will refer to the Owner, as
                    well as all employees and affiliates of the Owner.
            </li>
            <li>
                b) You, the User, the Client: You, as the user of the Website, will be referred to throughout these
                Terms of Service with second-person pronouns such as You, Yours, or as User or Client. For the purpose
                of these Terms of Service, the term “User” and “You” shall mean any natural or legal person who person
                is accessing the Website. The term “Your” shall be construed accordingly.
            </li>
            <li>
                c) Parties: Collectively, the parties to these Terms of Service (The Owner and You) will be referred to
                as Parties.
            </li>
        </ul>
    </div>

    <div class="user_data">
        <h1>
            2. ASSENT & ACCEPTANCE
        </h1>
        <p>
            By using the Website, You warrant that You have read and reviewed these Terms of Service and that You agree
            to be bound by it. If You do not agree to be bounded by these Terms of Service, please leave the Website
            immediately. The Owner agrees to provide use of this Website and Services to You if You assent to these
            Terms of Service. Further, based on the Services obtained by a User, additional terms and conditions in
            respect of the specific Services may apply, which shall be deemed an agreement between the Users and the
            Owner.
        </p>
    </div>

    <div class="user_data">
        <h1>
            3. AGE RESTRICTION
        </h1>
        <p>
            You must be at least 18 (Eighteen) years of age to use this Website or any Services contained herein. By
            using this Website, You represent and warrant that You are at least 18 years of age and may legally agree to
            these Terms of Service. The Owner assumes no responsibility or liability for any misrepresentation of Your
            age.
        </p>
    </div>
    <div class="user_data">
        <h1>
            4. ABOUT THE SITE
        </h1>

        <p>
            4.1 The website acts as a social media platform which allows Users to: access media in the form of images,
            sound clips, videos, animations, interact with other members, upload their listings, access available
            listings and contact the listing owner.
        </p>
        <p>
            4.2 The Website is also an online store which carries out sale of the items or services listed by the Users.
            We reserve the right to refuse service or refuse to sell the products on the Website at our sole discretion
            to anyone for any reason at any time.
        </p>
        <p>
            4.3 The Website does not screen or censor the users who register on and access the Website. You assume all
            risks associated with dealing with other users with whom you come in contact through the Website. You agree
            to sue the Website only for lawful purposes without infringing the rights or restricting the use of this
            Website by any third party.
        </p>
        p
        <div class="user_data">
            <h1>
                5. LICENSE TO USE WEBSITE
            </h1>
            <p>
                5.1 The Owner may provide You with certain information as a result of Your use of the Website or
                Services. Such information may include but is not limited to, documentation, data, or information
                developed by the Owner, and other materials which may assist in Your use of the Website or Services
                (“Owner Materials”). Subject to these Terms of Service, the Owner grants You non-exclusive, limited,
                non-transferable and revocable license to sue the Owner Materials solely in connection with Your use of
                the Website and Services. The Owner Materials may not be used for any other purpose and this license
                terminates upon your cessation of use of the Website or Services or at the termination of these Terms of
                Service.
            </p>
            <p>
                5.2 You agree not to collect contact information of other Users from the Website or download or copy any
                information by means of unsolicited access so as to communicate directly with them or for any reason
                whatsoever.
            </p>
            <p>
                5.3 Any unauthorised use you shall terminate the permission or license granted to you by the Website and
                You agree that you shall not bypass any measures used by the Owner to prevent or restrict access to the
                Website.
            </p>
        </div>

        <div class="user_data">
            <h1>
                6. INTELLECTUAL PROPERTY
            </h1>
            <p>
                6.1 You agree that the Website and all Services provided by the Owner are the property of the Owner,
                including all copyrights, trademarks, trade secrets, patents and other intellectual property (“Owner
                IP”). You agree that the Owner owns all right, title and interest in and to the Owner IP and that You
                will not use the Owner IP for any unlawful or infringing purpose. You agree not to reproduce or
                distribute the Owner IP in any way, including electronically or via registration of any new trademarks,
                trade names, service marks or Uniform Resource Locators (URLs), without express written permission from
                the Owner.
            </p>
            <p>
                6.2 In order to make the Website and Services available to You, You hereby grant the Owner a
                royalty-free, non-exclusive, worldwide license to copy, display, sue, broadcast, transmit and make
                derivative works of any content You publish, upload or otherwise make available to the Website (“Your
                content”). The Owner claims no further proprietary rights in Your content.
            </p>
            <p>
                6.3 If You feel that any of Your intellectual property rights have been infringed or otherwise violated
                by the posting of information or media by another of Our users, please contact Us and let Us know.
            </p>
        </div>

        <div class="user_data">
            <h1>
                7. USER OBLIGATIONS
            </h1>
            <p>
                As a user of the Website or Services You may be asked to register with Us. When You do so, You will
                choose a user identifier, which may be Your email address or another term, as well as password. You may
                also provide personal information, including, but not limited to, Your name, address, phone number,
                email and payment details. You are responsible for ensuring the accuracy of this information. This
                identifying information will enable You to use the Website and Services. You must not share such
                identifying information and if it has been compromised, You agree to notify Us immediately in writing.
                An email notification will suffice. You are responsible for maintaining the safety and security of Your
                identifying information as well as keeping Us apprised of any changes to Your identifying information.
                The billing information You provide us, including credit card, billing address and other payment
                information, is subject to the same confidentiality and accuracy requirements as the rest of Your
                identifying information. Providing false or inaccurate information, or using the Website or Services to
                further fraud or unlawful activity is grounds for immediate termination of these Terms of Service. The
                Owner reserved the right to refuse service, terminate accounts, or remove or edit content in its sole
                discretion.
            </p>

        </div>

        <div class="user_data">
            <h1>
                8. PAYMENT & FEES
            </h1>
            <p>
                8.1 You should register for any of the paid Services on this website or purchase any product or service
                on this website, You agree to pay Us the specific monetary amounts required for that product or those
                Services. These monetary amounts (“Fees”) will be described to You during Your account registration
                and/or confirmation process. The final amount required for payment will be shown to You immediately
                prior to purchase. Payment for any on-going Services is billed automatically until You notify Us that
                You would like to terminate Your access to the Services.
            </p>
            <p>
                8.2 We reserve the right to refuse service or refuse to sell the products on the Website at our sole
                discretion to anyone for any reason at any time.
            </p>

        </div>

        <div>
            <h1>
                9. ACCEPTABLE USE
            </h1>
            <p>
                9.1 You agree not to use the Website or Services for any Unlawful purpose or any purpose prohibited
                under this clause. You agree not to use the Website or Services in any way that could damage the
                Website, Services or general business of the Owner.
            </p>
            <p>
                9.2 You further agree not to use the Websites or Services:
            </p>
            <ul>
                <li>
                    a) To harass, abuse, or threaten others or otherwise violate any person’s legal rights;
                </li>
                <li>
                    b) To violate and intellectual property rights of the Owner or any third party;
                </li>
                <li>
                    c) To upload or otherwise disseminate any computer viruses or other software that may damage the
                    property of
                    another;
                </li>
                <li>
                    d) To perpetrate any fraud;
                </li>
                <li>
                    e) To engage in or create any unlawful gambling, sweepstakes or pyramid schemes;
                </li>
                <li>
                    f) To publish or distribute any material that incites violence, hate or discriminate towards any
                    group;
                </li>
                <li>
                    g) To unlawfully gather information about others.
                </li>
            </ul>
            <p>
                9.3 We reserve the right to terminate your use of Service or any related website for violating the
                prohibited uses. The Company has the full authority to review all content posted by Users on the
                Website. You acknowledge that the Website is not responsible or liable and does not control the content
                the content of any information that may be posted to the Website by You or other User of the Website and
                you are solely responsible for the same. You agree that You shall not upload, post, or transmit any
                content that you do not have a right to make available.
            </p>
            <p>
                9.4 You agree to comply with all applicable laws, statutes and regulations concerning your use of the
                Website and further agree that you will not transmit any information, data, text, files, links,
                software, chats, communication or other materials that are abusive, invasive of another’s privacy,
                harassing, defamatory, vulgar, obscene, unlawful, false, misleading, harmful, threatening, hateful or
                racially or otherwise objectionable, including without limitation material of any kind or nature that
                encourages conduct that could constitute a criminal offence, give rise to civil liability or otherwise
                violate any applicable local, state, national or international law or regulation.
            </p>
            <p>
                9.5 We may, but have no obligation to, monitor, edit or remove content that we determine in our sole
                discretion are unlawful, offensive, threatening, libellous, defamatory, pornographic, obscene or
                otherwise objectionable or violates any party’s intellectual property or these Terms of Service.
            </p>

        </div>

        <div class="user_data">
            <h1>
                10. COMMUNICATION
            </h1>
            <p>
                You understand that each time uses the Website in any manner, you agree to these Terms. By agreeing to
                these Terms, you acknowledge that you are interested in availing and purchasing the Services that you
                have selected and consent to receive communications via phone or electronic records from the Website
                including e-mail messages telling you about products and services offered by the Website and
                understanding your requirements. Communication can also be by posting any notices on the Website. You
                agree that the communications sent to You by the Website shall not be construed as spam under the law
                prevailing in the country where the message is received.
            </p>
        </div>

        <div class="user_data">
            <h1>
                11. AFFILIATE MARKETING & ADVERTISING
            </h1>
            <p>
                The owner, through the Website and Services, may engage in affiliate marketing whereby the Owner
                received a commission on or percentage of the sale of goods or services on or through the Website.
            </p>
        </div>

        <div class="user_data">
            <h1>
                12. PRIVACY INFORMATION
            </h1>
            <p>
                Through Your Use of Website and Services, You may provide Us with certain information. By using the
                Website or the Services, You authorize the Owner to use your information in India and any other country
                where we may operate.
            </p>
            <ul>
                <li>
                    a. Information We may collect or receive: When you register for an account, you provide Us with a
                    valid
                    e-mail address and may provide us with additional information such as Your name or billing
                    information.
                    Depending on how You use Our Website or Services, we may also receive information from eternal
                    application
                    You sue to access Our Website, or We may receive information through various web technologies, such
                    as
                    cookies, log files, web beacons and others.
                </li>
                <li>
                    b. How we use information: We use the information gathered from You to ensure Your continued good
                    experience
                    on Our Website, including through email communications. We may also track certain pass information
                    received
                    to improve Our marketing and analytics and for this we may work with third party providers.
                </li>
                <li>
                    c. How You can protect your information: If You would like to disable our access to any passive
                    information
                    we receive from the use of various technologies, You may choose to disable cookies in Your web
                    browser.
                    Please be aware that the Owner still receive some information about you that you have provided such
                    as
                    email
                    address. If you choose to terminate Your account, the Owner may store some information for further
                    reference
                    for the 90 days and after that it will be deleted.
                </li>
            </ul>
        </div>

        <div class="user_data">
            <h1>
                13. SALE OF GOODS/SERVICES
            </h1>
            <p>
                The Owner may sell goods or services or allow third parties to sell goods or services on the Website.
                The Owner undertakes to be as accurate as possible with all information regarding the good and services,
                including product description and images. However, the Owner does not guarantee the accuracy and
                reliability of any product information and You acknowledge and agree that You purchase such products at
                your own risk.
            </p>
        </div>
        <div class="user_data">
            <h1>
                14. SHIPPING/DELIVERY/RETURN POLICY
            </h1>
            <p>
                14.1 You agree to ensure payment for any items You may purchase from Us and You acknowledge and affirm
                that
                prices are subject to change. When purchasing a physical good, You agree to provide Us with a valid
                email
                and shipping address, as well as valid billing information. We reserve the right to reject or cancel an
                order for any reason, including errors or omissions in the information You provided to us. If we do so
                after
                payment has been processed, we will issue a refund to you in the amount of the purchase price. We also
                may
                request additional information from You prior to confirming a sale and We reserve the right to place any
                additional restrictions on the sale of any of Our products. You agree to ensure payment of any items You
                may
                purchase from Us and You acknowledge and affirm that prices are subject to change. For the sale of
                physical
                products, we may preauthorize Your credit or debit card at the time You place the order or We may simply
                charge Your card upon shipment. You agree to monitor Your payment method. Shipment costs and dates are
                subject to change from the costs and dates You are quoted due to unforeseen circumstances. For any
                questions, concerns, or disputes, You agree to contact Us in a timely manner at the following:
                contact@themenswall.com
            </p>
            <p>
                14.2 We will make reimbursements for returns without undue delay, and not later than:
            </p>
            <ul>
                <li>
                    a) 30 days after the day we received back from you any good supplied; or
                </li>
                <li>
                    b) (if earlier) 30 days after the day you provide evidence that you have returned the goods; or
                </li>
                <li>
                    c) If there were no goods supplied, 30 days after the day on which we are informed about your
                    decision to cancel this contract.
                </li>
            </ul>
        </div>

        <div class="user_data">
            <h1>
                15. REVERSE ENGINEERING & SECURITY
            </h1>
            <p>
                You agree not to undertake not to reverse engineer, or attempt to reverse engineer or disassemble any
                code
                or software from or on the Website or Services and also, not to violate the security of the Website or
                Services through any unauthorized access, circumvention of encryption or other security tools, data
                mining
                or interference to any host, user or network.
            </p>

        </div>
        <div class="user_data">
            <h1>
                16. DATA LOSS
            </h1>
            <p>
                The Owner does not accept responsibility for the security of your account or content. You agree that
                Your
                ruse of the Website or Services is at Your own risk.
            </p>

        </div>
        <div class="user_data">
            <h1>
                17. INDEMNIFICATION
            </h1>
            <p>
                You agree to defend and indemnify the Owner and any of its affiliates (if applicable) and hold Us
                harmless
                against any and all legal claims and demands, including reasonable attorney’s fees, which may arise from
                or
                relate to Your use or misuse of the Website or Services, Your breach of these Terms of Service, or Your
                conduct or actions.
            </p>

        </div>

        <div class="user_data">
            <h1>
                18. THIRD-PARTY LINKS & CONSENT
            </h1>
            <p>
                The Owner may occasionally post links to third-party websites or other services. You agree that the
                Owner is
                not responsible or liable for any loss or damage caused as a result of Your use of any third-party
                services
                linked to from Our website.
            </p>

        </div>

        <div class="user_data">
            <h1>
                19. MODIFICATION AND VARIATION
            </h1>
            <p>
                The Owner may, from time to time and at any time without notice to You, modify these Terms of Service.
                You
                agree that the Owner has the right to modify these Terms of Service or revise anything contained herein.
                You
                further agree that all modifications to these Terms of Service are in full force and effect immediately
                upon
                posting on the Website and that modifications of variations will replace any prior version of these
                Terms of
                Service unless prior versions are specifically referred to or incorporated into the latest modification
                or
                variation of these Terms of Service.
            </p>

        </div>

        <div class="user_data">
            <h1>
                20. ENTIRE AGREEMENT
            </h1>
            <p>
                This Agreement constitutes the entire understanding between the Parties with respect to any and all use
                of
                this Website. This Agreement supersedes and replaces all prior or contemporaneous agreements or
                understandings, written or oral, regarding the use of this Website.
            </p>

        </div>

        <div class="user_data">
            <h1>
                21. TERM, TERMINATION & SUSPENSION
            </h1>
            <p>
                The Owner may terminate these Terms of Service with You at any time for any reason, with or without
                cause.
                The Owner specifically reserves the right to terminate these Terms of Service if You violate any of the
                termed outlined herein, including, but not limited to, violating the intellectual property rights of the
                Owner or a third party, failing to comply with applicable laws or other legal obligations, and/or
                publishing
                or distributing illegal materials. If You have registered for an account with Us, You may also terminate
                these Terms of Service at any time by contacting Us and requesting termination. Please keep in mind that
                any
                outstanding fees will be due even after termination of Your account. At the termination these Terms of
                Service, any provisions that would be expect to service termination by their nature shall remain in full
                force and effect.
            </p>

        </div>

        <div class="user_data">
            <h1>
                22. LIMITATION OF LIABILITY
            </h1>
            <p>
                The Owner is not liable for any damages that may occur to You as a result of Your use of the Website or
                Services, to the fullest extent permitted by law. The maximum liability of the Owner arising from or
                relating to these Terms of Service.
            </p>

        </div>

        <div class="user_data">
            <h1>
                23. JUSRISDICTION AND GOVERNING LAW
            </h1>
            <p>
                Through Your use of the Website or Services, You agree that the Laws of _______ shall govern any matter
                or
                dispute relating to or arising out of these Terms of Service, as well as any dispute of any kind that
                may
                arise between You and the Owner, with the exception of its conflict of law provisions. In case any
                litigation specifically permitted under these Terms of Service is initiated, the parties agree to submit
                to
                the exclusive jurisdiction of the Courts at _____________. The Parties agree that this choice of law,
                venue
                and jurisdiction provision is not permissive, but rather mandatory in nature. You hereby waive right to
                any
                objection of venue.
            </p>

        </div>

        <div class="user_data">
            <h1>
                24. SEVERABILITY
            </h1>
            <p>
                If any part or sub-part of these Terms of Service is held invalid or unenforceable by a Court of law or
                competent authority, the remaining parts and sub parts will be enforced to the maximum extent possible.
                In
                such condition, the remainder of these Terms of Service shall continue in full force.
            </p>

        </div>

        <div class="user_data">
            <h1>
                25. NO WAIVER
            </h1>
            <p>
                In the event that we fail to enforce any provision of these Terms of Service, this shall not constitute
                a
                waiver of any future enforcement of that provision or of any provision. Waiver of any part or sub-part
                of
                these Terms of Service will not constitute a waiver of any other part or sub-part.
            </p>

        </div>

        <div class="user_data">
            <h1>
                26. ELECTONIC COMMUNICATION PERMITTED:
            </h1>
            <p>
                Electronic communications are permitted to both Parties under these Terms of Service including e-mail.
                For
                any question of concerns please email Us at the following address: info@themenswall.com
                If you have questions pertaining to these terms and conditions, you may contact our legal team at
                info@prodigylegal.com

            </p>

        </div>


    </div>
</div>
<div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bottom_footer">
                        <span class="copyright"><a target="_blank" href="#">The men's wall</a></span>
                        <span class="terms">
                            <a class="copyright" target="_blank" href="{% url 'privacy_policy' %}" style="margin-right: 15px">Policy</a>
                            <a class="copyright" target="_blank" href="{% url 'terms_condition' %}" style="margin-right: 15px">Terms</a>
                            <a class="copyright" target="_blank" href="#">Copyright <span>©</span></a>
{#                            <span class="copyright"><a target="_blank" href="#">Copyright 2021 <span class="copy_icon">©</span></a></span>#}

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/map-init.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
</body>
</html>